.clock-buttons, h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.In, .Out {
    background-color: rgb(169, 52, 52);
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}