.clock-container {
    background-color: rgb(235, 231, 226);
    color: rgb(0, 0, 0);
}

.clock-buttons {
    background-color: rgba(31, 39, 91, 0.71);
}

.In {
    background-color: rgb(80, 156, 255);
}