.option-buttons {
    background-color: #d37cbc;
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    margin-bottom: 1px;
}


.option-buttons:hover {
    background-color:  #bf9db6;;
    border: none;
}

.user {
    color: white;
    align-items: center;

}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #1E293B;
  padding: 20px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-content {
  margin-left: 200px;
  padding: 40px;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-bottom: 1px;
  }

  .user {
    display: flex;
  }

  .option-buttons {
    margin: 0;
    padding: 8px 12px;
    font-size: 14px;
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
    padding-top: 120px;  
  }
}

