.reg-container h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    margin-left: 300px;

}
.user-input,
.password-input {
    padding: 15px 17px;
    border-radius: 6px;
    border: 1px solid rgba(31, 39, 91, 0.4);
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.buttons-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}

.reg-container p {
    color: black;
}


@media (max-width: 768px) {
  .reg-container {
    margin-left: auto;
    margin-right: auto;
  }
}