
.manual-container h2 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 600;
}

.card label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 600;
  color: #434343;
}

.card select {
  appearance: none;
}

/* .card input,
.card select {
  width: 100%;
  max-width: 420px;
  display: block;
  margin: 0 auto;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfd6e4;
  background: #fff;
  color: #4f4f4f;
} */

@media (max-width: 768px) {
  .card input,
  .card select {
    max-width: 100%;
  }

}