.menu {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
}
.menu-btn {
    display: flex;
    flex-direction: column;  
    gap: 15px;               
    margin-top: 20px;
}

.menu-button {
    background-color: rgba(31, 39, 91, 0.71);
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.clock-button {
    background-color: #1E293B;
    border: 2px solid #22C55E;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.manual-button {
    background-color: #1E293B;
    border: 2px solid #3B82F6;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.overview-button {
    background-color:#1E293B;
    border: 2px solid #D37CBC;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
    cursor: pointer;
    transition: 0.2s;
}


.clock-button:hover {
    background-color: rgba(103, 145, 129, 0.71);
    border: 2px solid #22C55E;
}

.manual-button:hover {
    background-color: rgba(32, 37, 75, 0.71);
    border: 2px solid #3B82F6;
}

.overview-button:hover {
    background-color: #87657e;
    border: 2px solid #D37CBC;

}


@media (max-width: 375px) {
  .menu {
    padding: 16px;
  }

  .menu-button,
  .clock-button,
  .manual-button,
  .overview-button {
    width: 100%;
    font-size: 0.95rem;
    padding: 12px 14px;
  }
}