.menu {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 40px auto;
    scroll-margin-top: 0;
}
.menu-btn {
    display: flex;
    flex-direction: column;  
    gap: 15px;               
    margin-top: 20px;
}

.menu-btn a {
  display: block;
  width: 100%;
}

.menu button {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
  background: #1E293B;
}

.clock-button { border: 2px solid #22C55E; }
.manual-button { border: 2px solid #3B82F6; }
.overview-button { border: 2px solid #D37CBC; }

.clock-button:hover { background: rgba(103, 145, 129, 0.9); }
.manual-button:hover { background: rgba(32, 37, 75, 0.9); }
.overview-button:hover { background: #87657e; }

@media (max-width: 375px) {
  .menu {
    padding: 16px;
    margin: 20px auto;
  }

  .menu button {
    font-size: 0.95rem;
    width: 100%;
  }
}